sudo: required
env:
  - _FORCE_LOGS=1 PLATFORM_VERSION=9.3 TEST=unit
  - _FORCE_LOGS=1 PLATFORM_VERSION=9.3 TEST=functional/basic
  - _FORCE_LOGS=1 PLATFORM_VERSION=9.3 TEST=functional/driver
  - _FORCE_LOGS=1 PLATFORM_VERSION=9.3 TEST=functional/web
language:
  - objective-c
os: osx
osx_image: xcode8
git: # Handle git submodules yourself
  submodules: false
node_js:
  - "7"
  - "6"
  - "4"
before_install:
  # Use sed to replace the SSH URL with the public URL, then initialize submodules
  # code from http://stackoverflow.com/a/24600210/375688
  - sed -i '' 's/git@github.com:/https:\/\/github.com\//' /Users/travis/build/appium/appium-xcuitest-driver/.gitmodules
  - git submodule update --init --recursive
  - pushd WebDriverAgent && ./Scripts/bootstrap.sh && popd
before_script:
  - rvm get head
  - npm install
  - npm install -g gulp
  - npm install -g mocha
  - node --version # just print out the node version, so we know for sure
  - gulp transpile
script:
  - gulp eslint
  - mocha --recursive build/test/$TEST -g @skip-ci -i
