sudo: required
language:
  - objective-c
osx_image: xcode7.1
before_install:
  # TavisCI's OSX environment gives us node 0.10.32
  # Use NVM to update it to 0.12
  - rm -rf ~/.nvm
  - git clone https://github.com/creationix/nvm.git ~/.nvm
  - source ~/.nvm/nvm.sh
  - nvm install 0.12
  # Instruments fix:
  # https://github.com/travis-ci/travis-ci/issues/4218
  - ./bin/instruments-auth.sh
before_script:
  - npm install
  - npm install -g gulp
  - npm install -g mocha
  - gulp transpile
script:
  - mocha build/test/$TEST -g @skip-ci -i
  - if [ -n "$FINAL_GULP" ]; then gulp $FINAL_GULP; fi
