sudo: required
os: osx
language: node_js
node_js: "8"
env:
  global:
    - PLATFORM_VERSION=11.3
    - _FORCE_LOGS=1
    - secure: ls4nb5gcu0USHauJOkB9R5p86PMPJd/wCIQWjj/bhAfLNpSNNthtss2Ss9M7BjJg8lth8c85MrGfkAZOGgXknNtlQ2HHwKK4fbEiLAKLDS9diac6/OpAsxxE1/OvletYhkKLQSqb8d5Ju3S/xY6SmNDIzHUpeTYV2/5Ve+7Fh9zc1RztxsPwV1vxPtL6w0IAzNS9PQOmDXQ6x9KuZModtR7ohVKD47A91MzBlu3kk1CSaeQ4I8l7eXi4R9J6F81jkr51Vzoam4B6+4HTepSdfo02irBQWzaJ3VtRCbazFRBc/wfe4YgOPQTD9k69FiP19sa28lP9eSn6h5OCSXA9M803kju33Ml6OItRWDG0gUG1dzTroVXELEIcfnw1iTsFqKWoJLaEzEiXV8n2RsXLaLC5SHPgKwGEigGMfWDxM9leIC8hgervjQvApmx7btzq9S50tMcrzba5qwXDDrjJi1wKSjd4pQajhSj9VgOH9D5ihZBdn++VLwEvfAd4yQhjdsr9+COV1HrgK7Ro1HAHWgGnPtwBKiQdVU20QdQzNrhRdF2MLrJ4BfWpNm92JwlPxP/ojuA2l8mr9nDqlfBgXlnG32j59988gi85vaMfXssrUXtdJqsKJckI01c/mgaRh9pvG3UPX8K39quKBI5ftS8aCCa8tbF6bLq/ZuI2TRU=
matrix:
  include:
    - osx_image: xcode9.3
      env: TEST=unit COVERALLS=1 _FORCE_LOGS=0

    - osx_image: xcode9.3
      env: CI_METRICS=1 TEST=functional/basic

    - osx_image: xcode9.3
      env: TEST=functional/driver

    - osx_image: xcode9.3
      env: CI_METRICS=1 TEST=functional/web

    - osx_image: xcode9.3
      env: CI_METRICS=1 TEST=functional/long

    # smoke test on xcode 9.3/iOS 11.2 web
    - osx_image: xcode9.3
      env: CI_METRICS=1 PLATFORM_VERSION=11.2 TEST=functional/web

    # smoke test on xcode 8.3 web
    - osx_image: xcode8.3
      env: CI_METRICS=1 PLATFORM_VERSION=10.3 TEST=functional/web

    # smoke test on xcode 9.3 web
    - osx_image: xcode9.2
      env: CI_METRICS=1 PLATFORM_VERSION=11.2 TEST=functional/web
git:
  submodules: false
before_install:
  # Use sed to replace the SSH URL with the public URL, then initialize submodules
  # code from http://stackoverflow.com/a/24600210/375688
  - sed -i '' 's/git@github.com:/https:\/\/github.com\//' /Users/travis/build/appium/appium-xcuitest-driver/.gitmodules
  - git submodule update --init --recursive
script:
  - npm run lint && npm run mocha -- -t 480000 --recursive build/test/$TEST -g @skip-ci -i
  - if [ -n "$COVERALLS" ]; then npm run coverage; fi
  - if [ -n "$CI_METRICS" ]; then
      mkdir -p ./ci-metrics && ls -la ./ci-metrics;
      nvm install 7;
      npm install -g appium-event-parser;
      appium-event-parser -s -i ./ci-metrics;
    fi
