# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Run publish:doc

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3
      with:
        fetch-depth: 0
    - run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
    - run: pip install mkdocs==1.4.2 mkdocs-material==9.0.9 mkdocs-material-extensions==1.1.1 mike==1.1.2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies (Python)
      run: npm run install-docs-deps
    - run: npm ci
    - run: npm run publish:docs
