# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Release

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js LTS
      uses: actions/setup-node@v3
      with:
        node-version: lts/*
        check-latest: true
    - run: npm install --no-package-lock
      name: Install dependencies
    - run: npm run test
      name: Run NPM Test
    - run: |
        rm -rf package-lock.json node_modules
        npm prune --omit=dev --omit=peer --no-package-lock
        rm -rf package-lock.json
      name: Remove dev dependencies and appium peer dependencies
    - run: npm shrinkwrap
      name: Create shrinkwrap
    - run: npm install --only=dev
      name: Install dev dependencies for the release
    - run: npx semantic-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      name: Release
