# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Release

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 18.x
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
    - run: npm ci
      name: Install dependencies
    - run: npm run build
      name: Run build
    - run: npm run test
      name: Run test
    - run: |
        npm prune --production
        rm -rf node_modules/appium
      name: Remove dev dependencies and appium peer dependencies
    - run: npm shrinkwrap
      name: Create shrinkwrap
    - run: npm ci --only=dev
      name: Install dev dependencies for the release
    - run: npx semantic-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      name: Release
