# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Publish

on:
  push:
    branches: [ master ]
    paths-ignore:
      - package.json

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - run: npm install --production
      name: Install prod dependencies
    - run: rm -rf package-lock.json
      name: Delete package-lock (if it exists)
    - run: npm shrinkwrap
      name: Create shrinkwrap
    - run: npm install --no-package-lock
      name: Install dev dependencies
    - run: npm test
      name: Run NPM Test
    - run: npx semantic-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      name: Release

