name: Unit Tests
on: [push, pull_request]

jobs:
  # https://thekevinwang.com/2021/09/19/github-actions-dynamic-matrix/
  prepare_matrix:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ steps.generate-matrix.outputs.versions }}
    steps:
    - name: Generate Node.js versions matrix
      id: generate-matrix
      run: |
        sudo apt-get install -y lynx
        lynx -dump https://endoflife.date/nodejs | grep -E -o '[0-9]+ \(LTS\)' | grep -E -o '([0-9]+)' > eol.list
        cat eol.list
        lts1=$(cat eol.list | head -1)
        lts2=$(cat eol.list | head -2 | tail -1)
        lts3=$(cat eol.list | head -3 | tail -1)
        VERSIONS="[$lts1, $lts2, $lts3]"
        echo "versions=${VERSIONS}" >> $GITHUB_OUTPUT

  test:
    runs-on: macos-latest
    needs:
    - prepare_matrix
    strategy:
      matrix:
        node-version: ${{ fromJSON(needs.prepare_matrix.outputs.versions) }}
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: |
        npm i -g npm
        npm ci
      name: Install dev dependencies
    - run: npm run lint
      name: Linter
    - run: npm run test
      name: Unit Tests
