name: Unit Tests
on:
  pull_request:
    branches: [ master ]
    paths-ignore:
    - 'docs/**'
    - '*.md'
  push:
    branches: [ master ]
    paths-ignore:
    - 'docs/**'
    - '*.md'

jobs:
  node_matrix:
    uses: appium/appium-workflows/.github/workflows/node-lts-matrix.yml@main

  test:
    runs-on: ubuntu-latest
    needs:
    - node_matrix
    strategy:
      fail-fast: false
      matrix:
        node-version: ${{ fromJSON(needs.node_matrix.outputs.versions) }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3
      with:
        node-version: ${{ matrix.node-version }}
    - uses: SocketDev/action@v1
      with:
        mode: firewall-free
    - run: sfw npm install --no-package-lock
      name: Install dev dependencies
    - run: npm run lint
      name: Linter
    - run: npm run test
      name: Unit Tests
